body {
    text-align: center;
    font-family: 'Gamja Flower', cursive;
}

h1 {
	font-size:3em;
}

h2 {
	font-size:3em;
}

p{
	font-size:1.5em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,255,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    text-align:center;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius:10px;
}

.modal-content ul{
    margin-left:auto;
    margin-right:auto;
    padding:0;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.starthere {
    display: block; 
    position: fixed; /* Stay in place */
    float:left;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 30%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,255,0.4); /* Black w/ opacity */
}

.timeSection {
    width:100%;
    text-align:center;
    padding-top: 5px;
    padding-bottom:5px;
    font-size:2em;
}

.playButton {
	background-color: blue;
	color: white;
	border-radius: 5px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    padding:10px;
    font-size: 2em;
    font-family: 'Gamja Flower', cursive;
    margin-left:auto;
    margin-right:auto;
}


/* Level */
.level {
    list-style-type: none;
    margin-left,margin-right:auto;
    padding-left:0;
}

.level li {
    display:inline-flex;
    border: 1px grey;
    border-radius: 5px;
    
    color:black;
    padding:5px;
    width:50px;
    height:50px;
    margin:5px;
    font-size:2em;

    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}


/* Player */
.player {
    list-style-type: none;
    margin-left,margin-right:auto;
    padding-left:0;

}

.player li {
    display:inline-flex;
    border: 1px grey;
    border-radius: 5px;
    transition: border-width 0.6s linear;
    padding:5px;
    margin:5px;
    font-size:2em;
    height:50px;
    width:50px;

    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.player li img {
    width:100%;
    height:100%;
}

.playerSelection:hover {
        border-color: blue;
        border-width: 10px; 
}

.player li:hover {
    

}

.selected li {
    background-color:blue;
    color:white;
}

.selected {
    background-color:blue;
    color:white;
}

